{% extends 'core/base.html' %} {% load static %} {% block content %}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
</head>

<body>
    <br />
    <div class="main-content">
        {% block obtener %}
        <div class="obtener">
            <figcaption id="legenda">Obtener informacion</figcaption>
            <br />
            <nav class="menu2">
                <select class="obd" name="Anio">
                    <option value="option">2015</option>
                    <option value="option">2014</option>
                </select>
                <select class="obd" name="Sexo">
                    <option value="option">Mujer</option>
                    <option value="option">Hombre</option>
                </select>
                <select class="obd" name="Mes">
                    <option value="option">Enero</option>
                    <option value="option">Febrero</option>
                    <option value="option">Marzo</option>
                    <option value="option">Abril</option>
                    <option value="option">Mayo</option>
                    <option value="option">Junio</option>
                    <option value="option">Julio</option>
                    <option value="option">Agosto</option>
                    <option value="option">Septiembre</option>
                    <option value="option">Octubre</option>
                    <option value="option">Noviembre</option>
                    <option value="option">Diciembre</option>
                </select>
                <a href="#" class="myButton">Generar Reporte</a>
            </nav>
        </div>
        {% endblock %} {% block grafico %}
        <div id="container"></div>
        {% endblock %} {% block form %}
        <br />
        <form class="archivo" action="index.html" method="get" enctype="multipart/form-data">
            <label for="sl">Seleccionar Archivo</label>
            <input name="imagen" type="file" id="sl" />
        </form>
        {% endblock %} {% block vacio %} {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'core/js/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</body>

{% endblock %}