{% extends 'core/base.html' %}
{% block content %}
<head>
  <title>Add Detalle de Venta | Django site admin</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />

  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />

  <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<br><br><br><br>

<h2>Por favor ingrese los datos en base a lo que gasta por persona.</h2>   
<h2>Las cantidades de los productos se toman en libras</h2>
<br>
  <form method="POST">
          {% csrf_token %}
          <div class="related-widget-wrapper">
            <label class="required" for="id_dep">Departamento:</label>
            {{ form.dep }}
            <label class="required" for="id_dep">Municipio:</label>
            {{ form.muni }}
            <label class="required" for="id_dep">Producto:</label>
            {{ form.prod }}
            <label class="required" for="id_dep">Precio:</label>
            {{ form.price }}  
            <div class="submit-row" >
              <button type="submit">Guardar</button>
            </div>
          </div>     
  </form>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}


