{% extends 'core/base.html' %} {% load static %} {% block content %}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
</head>
<div class="tg-wrap">
    <table class="tg">
        <br><br><br>
        <div>
            <h2>Precios de canasta basica proporcionados por DIGESTYC (Direción General de Estadisticas y Censos)</h2>
            <br>
            <h3 style="text-align: center;">Promedio de gastos en la canasta basicas para los años 2019-2021</h3>
        </div>
        <br>
        <tr>
            <h3 style="text-align: center;">Rural</h3>
            <th class="tg-yw4l">Año</th>
            <th class="tg-yw4l">Enero</th>
            <th class="tg-baqh">Febrero</th>
            <th class="tg-yw4l">Marzo</th>
            <th class="tg-yw4l">Abril</th>
            <th class="tg-baqh">Mayo</th>
            <th class="tg-yw4l">Junio</th>
            <th class="tg-yw4l">Julio</th>
            <th class="tg-baqh">Agosto</th>
            <th class="tg-yw4l">Septiembre</th>
            <th class="tg-yw4l">Octubre</th>
            <th class="tg-baqh">Noviembre</th>
            <th class="tg-yw4l">Diciembre</th>
            <th class="tg-yw4l">Promedio Anual</th>

            <tr>
                <td class="tg-6k2t">2019</td>
                <td class="tg-j0tj">144.91</td>
                <td class="tg-j0tj">143.40</td>
                <td class="tg-j0tj">145.57</td>
                <td class="tg-j0tj">144.04</td>
                <td class="tg-j0tj">145.78</td>
                <td class="tg-j0tj">144.43</td>
                <td class="tg-j0tj">144.14</td>
                <td class="tg-j0tj">145.35</td>
                <td class="tg-j0tj">144.90</td>
                <td class="tg-j0tj">145.96</td>
                <td class="tg-j0tj">144.07</td>
                <td class="tg-j0tj">141.23</td>
                <td class="tg-j0tj">144.48</td>
            </tr>
            <tr>
                <td class="tg-6k2t">2020</td>
                <td class="tg-j0tj">145.40</td>
                <td class="tg-j0tj">145.86</td>
                <td class="tg-j0tj">145.90</td>
                <td class="tg-j0tj">141.96</td>
                <td class="tg-j0tj">146.96</td>
                <td class="tg-j0tj">151.81</td>
                <td class="tg-j0tj">146.62</td>
                <td class="tg-j0tj">145.04</td>
                <td class="tg-j0tj">142.82</td>
                <td class="tg-j0tj">138.76</td>
                <td class="tg-j0tj">146.65</td>
                <td class="tg-j0tj">141.63</td>
                <td class="tg-j0tj">144.95</td>
            </tr>
            <tr>
                <td class="tg-6k2t">2021</td>
                <td class="tg-j0tj">141.68</td>
                <td class="tg-j0tj">143.67</td>
                <td class="tg-j0tj">144.71</td>
                <td class="tg-j0tj">143.77</td>
                <td class="tg-j0tj">145.09</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">0.00</td>
                <td class="tg-j0tj">143.78</td>
            </tr>

            <table class="tg">
                <tr>
                    <h3 style="text-align: center;">Urbana</h3>
                    <th class="tg-yw4l">Año</th>
                    <th class="tg-yw4l">Enero</th>
                    <th class="tg-baqh">Febrero</th>
                    <th class="tg-yw4l">Marzo</th>
                    <th class="tg-yw4l">Abril</th>
                    <th class="tg-baqh">Mayo</th>
                    <th class="tg-yw4l">Junio</th>
                    <th class="tg-yw4l">Julio</th>
                    <th class="tg-baqh">Agosto</th>
                    <th class="tg-yw4l">Septiembre</th>
                    <th class="tg-yw4l">Octubre</th>
                    <th class="tg-baqh">Noviembre</th>
                    <th class="tg-yw4l">Diciembre</th>
                    <th class="tg-yw4l">Promedio Anual</th>
                </tr>
                <tr>
                    <td class="tg-6k2t">2019</td>
                    <td class="tg-j0tj">200.96</td>
                    <td class="tg-j0tj">200.58</td>
                    <td class="tg-j0tj">200.19</td>
                    <td class="tg-j0tj">200.53</td>
                    <td class="tg-j0tj">199.84</td>
                    <td class="tg-j0tj">202.37</td>
                    <td class="tg-j0tj">200.68</td>
                    <td class="tg-j0tj">199.49</td>
                    <td class="tg-j0tj">198.54</td>
                    <td class="tg-j0tj">198.14</td>
                    <td class="tg-j0tj">199.63</td>
                    <td class="tg-j0tj">199.30</td>
                    <td class="tg-j0tj">200.02</td>
                </tr>
                <tr>
                    <td class="tg-6k2t">2020</td>
                    <td class="tg-j0tj">200.41</td>
                    <td class="tg-j0tj">199.24</td>
                    <td class="tg-j0tj">198.90</td>
                    <td class="tg-j0tj">201.26</td>
                    <td class="tg-j0tj">209.83</td>
                    <td class="tg-j0tj">211.44</td>
                    <td class="tg-j0tj">209.33</td>
                    <td class="tg-j0tj">203.72</td>
                    <td class="tg-j0tj">200.65</td>
                    <td class="tg-j0tj">197.69</td>
                    <td class="tg-j0tj">200.54</td>
                    <td class="tg-j0tj">198.14</td>
                    <td class="tg-j0tj">202.60</td>
                </tr>
                <tr>
                    <td class="tg-6k2t">2021</td>
                    <td class="tg-j0tj">199.24</td>
                    <td class="tg-j0tj">200.41</td>
                    <td class="tg-j0tj">201.31</td>
                    <td class="tg-j0tj">200.13</td>
                    <td class="tg-j0tj">201.04</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">0.00</td>
                    <td class="tg-j0tj">200.43</td>
                </tr>
            </table>
</div>
{% endblock %}